Hi {{ first_name }}, 

My name is Kevin, and I'm reaching out from .406 Ventures.  We're focused on partnering with university teams building data + AI infrastructure, and we’ve been following your research around {{ research_area }} and wanted to reach out.{% if is_security_related %}  We also have a team dedicated to cybersecurity and love investing at the intersection of AI and cyber, so your research felt like an especially strong fit.{% endif %} 

{% if alignment_sentence %}{{ alignment_sentence }} {% endif %}Would love to chat about your research and how it fits into our investment theses.

If you’re open to it, I’ll have @Kelci Horan help coordinate a time.

Thanks, 
Kevin
